---
import { Image } from "astro:assets";
import OfficePng from "../assets/img/office.png";
import IconGitHub from "./IconGitHub.astro";
import IconLinkedin from "./IconLinkedin.astro";
import IconTwitter from "./IconTwitter.astro";
import IconPlatzi from "./IconPlatzi.astro";
import IconCopy from "./IconCopy.astro";
import IconCopyCheck from "./IconCopyCheck.astro";
import LogoDark from "../assets/img/logo-dark.svg";
---

<header>
    <div class="content">
        <Image
            src={LogoDark}
            alt="Logo Ezequielish"
            id="logo"
            class="logo"
            loading="lazy"
        />
        <h1>Ezequiel Guerra</h1>
        <h2>Desarrollador Fullstack</h2>

        <p>
            Soy un desarrollador de software me gusta escribir código (y en
            ocasiones diseño cosas).
        </p>
        <p>Mi enfoque abarca tanto el desarrollo frontend como backend.</p>

        <nav class="nav">
            <ul>
                <li class="aboutme">
                    <div></div><a href="#aboutme" aria-label="Sobre mí"
                        >Acerca de mí</a
                    >
                </li>
                <li class="projects">
                    <div></div><a href="#projects" aria-label="Mis Proyectos"
                        >Proyectos</a
                    >
                </li>
                <li class="experience">
                    <div></div><a href="#experience" aria-label="Mi Experiencia"
                        >Experiencia</a
                    >
                </li>
            </ul>
        </nav>
    </div>
    <div class="hero__social-media">
        <a href="https://github.com/ezequielish" target="_blank">
            <IconGitHub
                classStyle="white-svg"
                width="38px"
                height="38px"
                aria-label="Github"
            />
        </a>
        <a
            href="https://www.linkedin.com/in/ezequiel-guerra-0945859a/"
            target="_blank"
        >
            <IconLinkedin
                classStyle="white-svg"
                width="38px"
                height="38px"
                aria-label="Linkkedin"
            />
        </a>
        <a
            href="https://twitter.com/ezequiel_ish"
            target="_blank"
            aria-label="Twitter"
        >
            <IconTwitter classStyle="white-svg" width="38px" height="38px" />
        </a>
        <a href="https://platzi.com/p/Ezequiel_ish/" target="_blank">
            <IconPlatzi
                classStyle="white-svg"
                width="30px"
                height="35px"
                aria-label="Platzi"
            />
        </a>
        <div class="wrapper__email" id="copy-email">
            <p>ezequielprophetic@gmail.com</p>
            <button
                id="copy-btn"
                class="icon-active"
                aria-label="Copy"
                title="Copy"
                ><IconCopy width="15px" height="15px" classStyle="white-svg" />
            </button>
            <button id="copy-btn-check">
                <IconCopyCheck
                    width="15px"
                    height="15px"
                    classStyle="white-svg"
                />
            </button>
        </div>
    </div>
    <figure>
        <Image
            src={OfficePng}
            alt="virtual office"
            class="virtual-office-img"
            id="officeImg"
            decoding="async"
            loading="lazy"
        />
    </figure>
</header>
<script>
    import { atom } from "nanostores";
    const copyBtn = document.querySelector("#copy-btn");
    const copyBtnCheck = document.querySelector("#copy-btn-check");
    const copyEmail = document.querySelector("#copy-email");
    const viewPercentage = atom({
        aboutme: 0,
        experience: 0,
    });
    const handleNavAct = (section) => {
        if (section == "experience") {
            return (
                viewPercentage.get().experience > 25 &&
                viewPercentage.get().aboutme < 5
            );
        }
        if (section == "aboutme") {
            return (
                viewPercentage.get().aboutme > 50 &&
                viewPercentage.get().experience < 10
            );
        }
    };
    const sectionsHtml = ["aboutme", "experience"];
    const nav = document.querySelectorAll("nav ul li");
    const cleanLiActive = (_nav) => {
        return _nav.forEach((e) => {
            e.querySelector("a").classList.remove("li-active");
            e.querySelector("div").classList.remove("line-li-active");
        });
    };

    for (let index = 0; index < nav.length; index++) {
        const element = nav[index];
        element.addEventListener("click", (ev) => {
            let w = window;
            let section = element.classList[0];
            let sectionScroll = document.getElementById(`section-${section}`);
            w.scrollTo({
                behavior: "smooth",
                left: 0,
                top: sectionScroll.offsetTop,
            });
        });
    }

    document.addEventListener("scroll", (ev) => {
        for (let index = 0; index < sectionsHtml.length; index++) {
            const element = sectionsHtml[index];

            const observer = new window.IntersectionObserver(function (
                entries,
            ) {
                const { intersectionRatio } = entries[0];
                let porcent = Math.floor(intersectionRatio * 100);

                switch (element) {
                    case "aboutme":
                        viewPercentage.set({
                            ...viewPercentage.get(),
                            aboutme: porcent,
                        });
                        break;
                    case "experience":
                        viewPercentage.set({
                            ...viewPercentage.get(),
                            experience: porcent,
                        });
                        break;
                    default:
                        break;
                }
            });

            observer.observe(document.querySelector(`#section-${element}`));
            if (handleNavAct(element)) {
                cleanLiActive(nav);

                document
                    .querySelector(`.${element} a`)
                    .classList.add("li-active");
                document
                    .querySelector(`.${element} div`)
                    .classList.add("line-li-active");
            }
        }
    });
    const host = "https://ezequielish.github.io/ezequiel";
    const btnAparence = document.querySelector("#logo");
    const officePng = document.querySelector("#officeImg");
    const html = document.querySelector("html");
    if (btnAparence) {
        btnAparence.addEventListener("click", () => {
            if (html.dataset.theme == "dark") {
                officePng.setAttribute("src", `${host}/office-light.png`);
                btnAparence.setAttribute("src", `${host}/logo_color.svg`);
                html.setAttribute("data-theme", "light");
            } else {
                officePng.setAttribute("src", `${host}/office.png`);
                btnAparence.setAttribute("src", `${host}/logo-dark.svg`);
                html.setAttribute("data-theme", "dark");
            }
        });
    }

    copyBtn.addEventListener("click", async () => {
        try {
            await navigator.clipboard.writeText("ezequielprophetic@gmail.com");
            copyBtn.classList.toggle("icon-active");
            copyBtnCheck.classList.toggle("icon-active");
            setTimeout(() => {
                copyBtn.classList.toggle("icon-active");
                copyBtnCheck.classList.toggle("icon-active");
            }, 1000);
        } catch (error) {
            console.log(error);
        }
    });

    copyEmail.addEventListener("click", async () => {
        try {
            await navigator.clipboard.writeText("ezequielprophetic@gmail.com");
            copyBtn.classList.toggle("icon-active");
            copyBtnCheck.classList.toggle("icon-active");
            setTimeout(() => {
                copyBtn.classList.toggle("icon-active");
                copyBtnCheck.classList.toggle("icon-active");
            }, 1000);
        } catch (error) {
            console.log(error);
        }
    });
</script>
<style>
    .li-active {
        color: var(--white) !important;
    }

    .line-li-active {
        width: 60px !important;
        background-color: var(--white) !important;
    }

    .wrapper__email {
        display: flex;
        position: absolute;
        margin-top: 4rem;
        margin-left: 1rem;
        justify-content: center;
        align-items: center;
    }
    .wrapper__email p {
        padding: var(--pm-size-xxsmall);
        background: var(--background-span-dark);
        border-radius: var(--pm-size-xsmall) 0px 0px var(--pm-size-xsmall);
        border-top: solid 2px var(--blue-light);
        border-left: solid 2px var(--blue-light);
        border-bottom: solid 2px var(--blue-light);
        cursor: pointer;
    }

    .wrapper__email button {
        display: none;
        height: 39px;
        margin-top: var(--pm-size-medium);
        background: none;
        border: none;
        padding: var(--pm-size-xsmall);
        border-top: solid 2px var(--blue-light);
        border-right: solid 2px var(--blue-light);
        border-bottom: solid 2px var(--blue-light);
        border-radius: 0px var(--pm-size-xsmall) var(--pm-size-xsmall) 0px;
        background: var(--background-btn-icon);
    }

    .wrapper__email .icon-active {
        display: flex;
        align-items: center;
    }
    /* .wrapper__email button svg {
        fill: red;
        display: none;
    } */
    /* .wrapper__email button .icon-active {
        display: block !important;
    } */

    header {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        font-size: var(--font-size-normal);
    }

    .content {
        position: relative;
    }

    header .virtual-office-img {
        width: 330px;
        height: 280px;
        object-fit: contain;
        object-position: top;
        aspect-ratio: 2/2;
    }

    header .logo {
        width: 35px;
        height: 20px;
        aspect-ratio: 1 /1;
        object-fit: contain;
        position: absolute;
        right: 0px;
        top: -5px;
        cursor: pointer;
    }

    .hero__social-media {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: var(--pm-size-normal);
        width: 70%;
        margin-top: var(--pm-size-medium);
    }

    header,
    .hero__social-media a {
        text-decoration: none;
    }

    h1 {
        margin-top: var(--pm-size-medium);
        font-size: var(--font-size-large);
        font-weight: 700;
        line-height: 1;
        text-align: left;
        color: var(--white);
    }

    h2 {
        color: var(--blue-light-2);
        margin-top: var(--pm-size-normal);
        font-size: var(--font-size-medium);
        font-weight: 700;
        line-height: 1;
        text-align: left;
    }

    p {
        color: var(--white);
        text-align: left;
        margin-top: var(--pm-size-normal);
        font-size: var(--font-size-small);
    }

    p:nth-of-type(1) {
        margin-top: var(--pm-size-medium);
    }

    figure {
        display: none;
    }

    nav {
        position: fixed;
        top: -4px;
        left: 0;
        width: 100%;
        z-index: 1;
        display: none;
    }

    nav ul {
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        padding: var(--pm-size-xsmall);
        display: flex;
    }

    nav ul li a {
        color: var(--white);
        text-decoration: none;
        font-weight: bold;
        /* font-size: var(--font-size-medium); */
        margin-left: var(--pm-size-normal);
    }

    @media screen and (min-width: 500px) {
        .hero__social-media {
            justify-content: flex-start;
        }

        .hero__social-media a {
            margin-left: var(--pm-size-xsmall);
        }

        .hero__social-media a:nth-of-type(1) {
            margin-left: 0;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1023px) {
        .content {
            width: 50%;
        }

        .hero__social-media {
            order: 2;
        }

        figure {
            height: 310px;
            display: flex;
            order: 1;
            width: 45%;
            padding: var(--pm-size-normal);
        }
    }

    @media screen and (min-width: 800px) and (max-height: 700px) {
        figure {
            display: none !important;
        }
    }
    @media screen and (min-width: 1024px) {
        header {
            display: flex;
            justify-content: center;
            /* align-content: space-around; */
            position: fixed;
            width: 50%;
            height: 100%;
        }

        figure {
            width: 57%;
        }

        .hero__social-media {
            order: 2;
            width: 100%;
            justify-content: center;
        }

        .content {
            width: 95%;
        }

        h1 {
            font-size: var(--font-size-2xlarge);
        }

        h2 {
            font-size: var(--font-size-large);
        }

        p {
            font-size: var(--font-size-normal);
        }

        nav {
            display: flex;
            margin-top: var(--pm-size-medium);
            position: relative;
            background: inherit;
        }

        nav ul {
            display: flex;
            flex-direction: column;
            gap: var(--pm-size-normal);
        }

        nav ul li {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        nav ul li a {
            text-decoration: none;
            margin-left: var(--pm-size-xsmall);
            color: var(--grey);
            font-size: var(--font-size-normal);
        }

        nav ul li:hover a {
            text-decoration: none;
            color: var(--white);
            transition: 0.4s all;
        }

        nav ul li div {
            height: 1px;
            width: 30px;
            transition: 0.4s all;
            background: var(--grey);
        }

        nav ul li:hover div {
            width: 60px;
            background: var(--white);
        }

        .wrapper__email button {
            height: 32px;
            cursor: pointer;
        }

        .wrapper__email p {
            font-size: var(--font-size-xsmall);
        }
    }

    @media screen and (min-width: 1300px) {
        header {
            width: 687px;
            height: auto;
        }

        .hero__social-media {
            position: absolute;
            right: 160px;
            top: 0px;
            width: 0;
        }

        figure {
            display: flex;
        }
    }

    @media screen and (min-width: 800px) and (max-width: 1023px) and (orientation: landscape) {
        .hero__social-media {
            margin-top: -30px;
        }
    }
</style>
